{% extends 'flatpages/default.html' %}

{% block content %}

{{ flatpage.content }}
<hr>
<h1></h1>
<p style="text-align: center;">
    <span style="color: #339966;"><em><strong><span style="color: #000000;">Я</span>умею<span style="color: #000080;"> писать</span> <span style="color: #ff9900;">дважды</span> <span style="color: #ff00ff;">и</span> <span style="color: #800080;">разным</span> <span style="color: #3366ff;">шрифтом!</span></strong></em>
    </span>
</p>
<p style="text-align: center;">
    <span style="color: #ff0000;">Но не понимаю, как правильно выстроить код html&nbsp;<img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-frown.gif" alt="frown" />
    </span>
</p>
{{ flatpage.content }}
<hr>
{% endblock content %}